/*==================================================================================================================
                                        cart-page
==================================================================================================================*/
.cart-page {
    padding: 1px 0;
    .breadcrumb__line__in {
        padding-left: 106px;
    }
    &__content {
        background: #FFFFFF;
        margin-bottom: 44px;
        min-height: calc(100vh - 340px);
        padding: 55px 105px;
        &__title {
            font-size: 18px;
            font-weight: bold;
            color: #000;
            margin-bottom: 22px;
        }
        .section-title {
            margin-top: 28px;
        }
        &__text {
            font-size: 18px;
            color: $dark;
            ul {
                padding-left: 0;
                list-style: none;
                > li {
                    padding-left: 18px;
                    position: relative;
                    margin-bottom: 0;
                    &:before {
                        display: block;
                        content: "";
                        width: 9px;
                        height: 9px;
                        background: $broun;
                        border-radius: 50%;
                        position: absolute;
                        top: 5px;
                        left: 0;
                    }
                }
            }
        }
    }
    .buy-item {
        border-bottom: 1px solid rgb(210, 210, 210);
        padding-right: 18px;
        &__wrapper {
            @include media-breakpoint-down(sm) {
                flex-wrap: wrap;
            }
        }
        &__image {
            width: 90px;
            margin-right: 20px;
            &__link {
                height: 100px;
                padding: 5px 0;
            }
        }
        &__name {
            font-size: 18px;
            color: $dark;
            font-weight: bold;
            display: inline-block;
            margin-bottom: 4px;
        }
        &__info {
            .color-check {
                margin-bottom: 5px;
                &__caption {
                    font-size: 14px;
                    margin-right: 6px;
                    color: $dark;
                }
                &__icon {
                    width: 9px;
                    height: 9px;
                    border-radius: 50%;
                    border: 1px solid;
                }
            }
            .vendor-code {
                font-size: 10px;
                color: #9d9d9d;
            }
        }
        .plusminus {
            width: fit-content;
            margin-bottom: 14px;
        }
        .price-sum {
            color: $dark;
        }
        .price-wrapper {
            margin-right: 22px;
        }
        .remove {
            margin-top: 34px;
            cursor: pointer;
            &:hover {
                opacity: 0.8;
            }
        }
    }
    .total-price {
        margin-top: 60px;
        padding-right: 46px;
        color: $dark;
        &__sum {
            margin-left: 28px;
            font-size: 24px;
        }
    }
    .cart-form {
        border: 1px solid rgb(102, 102, 102);
        padding: 30px 36px 22px;
        .textarea {
            min-height: 146px;
        }
        &__row {
            .form-group {
                width: calc((100% - 28px)/2);
            }
            .form-control {
                width: 100%;
            }
        }
        .checkbox {
            max-width: 300px;
            a {
                color: $blue;
                text-decoration: underline;
                &:hover {
                    text-decoration: none;
                }
            }
        }
        &__footnote {
            font-size: 18px;
            color: $dark;
            margin-top: 18px
        }
    }
    @media (max-width: 1440px) {
        .breadcrumb__line__in {
            padding-left: 35px;
        }
        &__content {
            padding-left: 35px;
            padding-right: 35px;
        }
    }
    @include media-breakpoint-down(lg) {
        .breadcrumb__line__in {
            padding-left: 0;
        }
        .total-price {
            margin-top: 30px;
            margin-bottom: 60px;
        }
        .cart-form__footnote {
            margin-bottom: 60px;
        }
    }
    @include media-breakpoint-down(sm) {
        &__content {
            padding: 30px 14px;
            &__text {
                font-size: 16px;
                ul {
                    > li {
                        padding-left: 16px;
                        &:before {
                            display: block;
                            content: "";
                            width: 9px;
                            height: 9px;
                            background: $broun;
                            border-radius: 50%;
                            position: absolute;
                            top: 5px;
                            left: 0;
                        }
                    }
                }
            }
        }
        .total-price {
           flex-wrap: wrap;
           padding-right: 0;
            &__value {
                width: 100%;
                margin-bottom: 20px;
                text-align: right;
                order: 1;
            }
            .btn {
                margin-left: auto;
                order: 2;
                margin-right: 14px;
            }

        }
        .cart-form {
            padding: 20px;
            .form-label {
                font-size: 14px;
            }
            .buttons__wrapper {
                .btn {
                    width: 100%;
                }
                .btn-triangle {
                    margin-right: 14px;
                }
            }
            &__footnote {
                font-size: 14px;
                margin-bottom: 30px;
            }
        }
    }
    @media (max-width: 480px) {
        .buy-item {
            padding-bottom: 10px;
            padding-right: 0;
            &__option {
                width: 100%;
                margin-top: 10px;
            }
        }
        .cart-form__row .form-group {
            width: 100%;
        }

    }
}
/*==================================================================================================================
                                        cart-empty
==================================================================================================================*/
.cart-empty {
    padding-bottom: 68px;
    margin: 0 auto;
    &__title {
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
        color: #000;
        margin-bottom: 36px;
    }
    .btn {
        margin: 0 auto;
    }

}
/*==================================================================================================================
                                        quick order
==================================================================================================================*/
.quick-page {
    background: $bg-light;
    padding-bottom: 50px;
    min-height: calc(100vh - 148px);
    position: relative;
    &:before {
        @include decor-2;
        top: -86px;
        left: -300px;
    }
    .container {
        position: relative;
        z-index: 2;
    }
    .quick__form {
        margin-top: 68px;
        .btn {
            width: 248px;
            margin-top: 24px;
        }
    }
    @include media-breakpoint-down(sm) {
        &:before {
            display: none;
        }
    }
    @include media-breakpoint-down(xs) {
        padding-top: 44px;
        .quick__form {
            margin-top: 38px;
            .btn {
                width: 100%;
                margin-top: 16px;
            }
        }
    }
}
