/*==================================================================================================================
                                        category-page
==================================================================================================================*/
.category-page {
    &__filter {
        background: #fff;
        height: calc(100% - 24px);
        padding: 25px 30px;
        &__block {
            padding: 25px 0;
            border-top: 1px solid rgba(49, 49, 49, 0.22);
            &:first-child {
                border-top: none;
            }
        }
        &__title {
            font-weight: bold;
            color: $blue;
            padding-left: 18px;
            position: relative;
            &:before {
                @include triangle;
                border-width: 0 4px 5px 4px;
                border-color: transparent transparent $dark transparent;
                left: 0;
                top: 8px;
            }
            &.collapsed {
                &:before {
                    border-width: 5px 4px 0 4px;
                    border-color: $dark transparent transparent transparent;
                }
            }
        }
        &__options {
            padding-top: 11px;
        }
        .checkbox:last-child {
            .checkbox__text {
                margin-bottom: 0;
            }
        }
        .catalog__item__bottom {
            margin-top: 30px;
            padding-bottom: 35px;
            border-bottom: none;
            .btn {
                padding: 4px 15px;
            }
        }
        &__list {
            &__item {
                padding-left: 15px;
                margin-bottom: 20px;
            }
            &__link {
                &:hover,
                &.active {
                    text-decoration: underline;
                    color: $blue;
                }
            }
        }
    }
    .catalog__in__list {
        padding-bottom: 17px;
        border-bottom: 1px solid #888888;
    }
    @include media-breakpoint-down(lg) {
        &__filter {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-column-gap: 20px;
            &__block {
                &:first-child {
                    border-top: 1px solid rgba(49, 49, 49, 0.22);
                }
                &.last {
                    grid-column: 1/4;
                }
            }
            .catalog__item__bottom {
                grid-column: 1/4;
                justify-content: flex-end !important;
                .form:first-child {
                    margin-right: 20px;
                }
            }
        }
    }
    @include media-breakpoint-down(sm) {
        &__filter {
            &__block {
                grid-column: 1/4;
            }
            .catalog__item__bottom {
                grid-column: 1/4;
                justify-content: flex-end !important;
                .form:first-child {
                    margin-right: 20px;
                }
            }
        }
    }
}
/*==================================================================================================================
                                        catalog-page
==================================================================================================================*/
.catalog-page {
    padding-top: 1px;
    &__category {
        padding: 12px 0 40px;
        &__row {
            margin-bottom: 45px;
        }
        &__item {
            height: 344px;
            width: calc((100% - 55px)/2);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            padding: 50px 0 23px;
            .title {
                font-weight: bold;
                font-size: 50px;
                color: #fff;
                height: 130px;
            }
            .description {
                background: rgba($color: #fff, $alpha: 0.8);
                color: #000;
                height: 142px;
                padding-top: 20px;
                overflow: hidden;
                &__title {
                    font-size: 16px;
                    font-weight: bold;
                    margin-bottom: 16px;
                    max-width: 745px;
                }
                p {
                    font-size: 14px;
                    margin-bottom: 0;
                    max-width: 745px;
                }
            }
            &.left {
                .title,
                .description {
                    padding-right: 40px;
                }
                .description {
                    &__title,
                    p {
                        margin-left: auto;
                    }
                }
            }
            &.right {
                .title,
                .description {
                    padding-left: 40px;
                }
            }
        }
    }
    @include media-breakpoint-down(lg) {
        &__category {
            &__item {
                width: calc((100% - 30px)/2);
                .title {
                    font-size: 38px;
                }
            }
        }
    }
    @include media-breakpoint-down(md) {
        &__category {
            &__row {
                margin-bottom: 30px;
            }
            &__item {
                height: 374px;
                .title {
                    font-size:28px;
                }
                .description {
                    height: 172px;
                }
                &.left {
                    .title,
                    .description {
                        padding-right: 20px;
                    }
                }
                &.right {
                    .title,
                    .description {
                        padding-left: 20px;
                    }
                }
            }
        }
    }
    @include media-breakpoint-down(sm) {
        &__category {
            &__row {
                flex-wrap: wrap;
                margin-bottom: 0;
            }
            &__item {
                width: 100%;
                margin-bottom: 30px;
                .title,
                .description {
                    padding-right: 20px;
                    padding-left: 20px;
                }
                &.left {
                    text-align: left !important;

                }
            }
        }
    }
    @media (max-width: 480px) {
        &__category__item {
            .description {
                &__title {
                    font-size: 14px;
                    margin-bottom: 10px;
                }
                p {
                    font-size: 13px;
                }
            }
        }
    }
}
