/*==================================================================================================================
                                        contacts-page
==================================================================================================================*/
.contact-page {
    padding-bottom: 1px;
    .breadcrumb__line__in {
        padding-left: 90px;
    }
    &__content {
        background: #FFFFFF;
        margin-bottom: 30px;
        padding: 70px 90px;
        &__text {
            font-size: 18px;
            margin-bottom: 65px;
            p {
                margin-bottom: 0;
            }
        }
        &__separator {
            width: 100%;
            height: 1px;
            background: rgb(210, 210, 210);
            margin: 40px 0;
        }
        ul {
            font-size: 18px;
            text-transform: uppercase;
            padding-left: 0;
            list-style: none;
            > li {
                padding-left: 18px;
                position: relative;
                margin-bottom: 0;
                &:before {
                    display: block;
                    content: "";
                    width: 9px;
                    height: 9px;
                    background: $broun;
                    border-radius: 50%;
                    position: absolute;
                    top: 5px;
                    left: 0;
                }
            }
        }
    }
}

/*==================================================================================================================
                                        delivery-page
==================================================================================================================*/
.delivery-page {
    .contact-page__content ul {
        text-transform: unset;
    }
    &__text {
        font-size: 18px;
        color: $dark;
    }
}
/*==================================================================================================================
                                        guarantee-page
==================================================================================================================*/
.guarantee-page {
    .section-title__content {
        height: 64px;
        margin: auto 0;
    }
    &__text {
        font-size: 14px;
        color: $dark;
        margin-bottom: 30px;
        h3 {
            font-size: 18px;
            text-transform: uppercase;
            margin: 26px 0;
        }
        ul {
            font-size: 14px;
            text-transform: unset;
            > li {
                padding-left: 24px;
                &:before {
                    background: $blue;
                    top: 4px;
                    left: 6px;
                }
            }
        }
    }
    &__service {
        font-size: 14px;
        color: $dark;
        margin-bottom: 36px;
        p {
            margin-bottom: 0;
        }
    }
}
