
/*==================================================================================================================
                                        product-card-page
==================================================================================================================*/
.product-page {
   padding: 1px 0;
}
.product-card {
    background: #fff;
    padding: 16px 26px 40px;
    margin-bottom: 22px;
    &__sliders {
        padding: 0 60px;
    }
    .photo-big {
        height: 487px;
    }
    .photo-small {
        padding: 0 15px;
        &__item {
            width: 100px !important;
            height: 96px;
            border: 1px solid rgb(229, 229, 229);
            img {
                max-width: 100%;
                max-height: 100%;
            }
        }
        .slick-arrow {
            width: 0;
            height: 0;
            background: transparent;
            border-style: solid;
            margin-top: 0;
            top: 38px;
            &.slick-prev {
                border-width: 11px 12px 11px 0;
                border-color: transparent #000 transparent transparent;
                left: 0;
            }
            &.slick-next {
                border-width: 11px 0 11px 12px;
                border-color: transparent transparent transparent #000;
                right: 0;
            }
            &:hover {
                &.slick-prev {
                    border-color: transparent $red transparent transparent;
                }
                &.slick-next {
                    border-color: transparent transparent transparent $red;
                }
            }
        }
    }
    &__info {
        padding-right: 86px;
        padding-left: 50px;
    }
    &__title {
        margin-top: 46px;
        font-size: 24px;
        font-weight: bold;
        color: $dark;
    }
    &__subtitle {
        font-size: 18px;
        color: $dark;
        margin-bottom: 34px;
    }
    .vendor-code {
        font-size: 12px;
        color: $grey;
        margin-top: 50px;
    }
    .color-check {
        margin-bottom: 36px;
        &__caption {
            color: $dark;
            margin-right: 14px;
        }
        &__icon {
            width: 14px;
            height: 14px;
            border-radius: 50%;
            border: 1px solid;
            margin-right: 12px;
            cursor: pointer;
        }
    }
    &__description {
        height: 295px;
        margin-bottom: 56px;
        color: $dark;
        &__caption {
            font-size: 24px;
            margin-bottom: 24px;
        }
        &__text {
            font-size: 18px;
        }
        &__footnote {
            font-size: 12px;
        }
        &:before {
            display: block;
            content: '';
            width: 1px;
            height: 100%;
            background: $dark;
            position: absolute;
            top: 0;
            left: -65px;
        }
    }
    &__form {
        .price-sum {
            font-size: 24px;
            line-height: 1;
            color: $dark;
        }
        .old-price {
            color: #b3b2b2;
            font-size: 14px;
            width: fit-content;
            margin-left: auto;
            position: relative;
            &:before {
                display: block;
                content: '';
                width: 100%;
                height: 1px;
                background: $dark;
                position: absolute;
                top: 7px;
                right: 0;
            }
        }
        .plusminus {
            margin-right: 32px;
        }
        .btn {
            margin-right: 14px;
        }
    }
    &__block {
        &__icon {
            width: 61px;
            height: 61px;
            margin-bottom: 20px;
        }
        &__title {
            font-size: 16px;
            color: $dark;
            margin-bottom: 12px;
        }
        &__text {
            color:$dark;
            font-size: 12px;
            line-height: 1.33;
            >p {
                margin-bottom: 0;
                line-height: 1.33;
            }
        }
        &__list {
            li {
                padding-left: 16px;
                position: relative;
                margin-bottom: 7px;
                &:last-child {
                    margin-bottom: 0;
                }
                &:before {
                    display: block;
                    content: '';
                    width: 5px;
                    height: 5px;
                    background: $red;
                    border-radius: 50%;
                    position: absolute;
                    top: 7px;
                    left: 0;
                }
            }
        }
        .soc-icon {
            margin-left: 0;
            margin-right: 16px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
    @include media-breakpoint-only(lg) {
        .main-title {
            font-size: 28px;
            margin-bottom: 23px;
            margin-top: 0;
        }
        &__form__buttons {
            margin-bottom: 23px;
        }
    }
    @include media-breakpoint-down(md) {
        .main-title {
            margin-top: 0;
        }
        &__form__buttons {
            margin-bottom: 40px;
        }
    }
    @include media-breakpoint-down(xs) {
        margin-top: 0;
        padding-top: 44px;
        &__form {
            .plusminus__wrapper {
                justify-content: space-between;
                flex-wrap: wrap;
            }
            .price-sum {
                margin-left: auto;
            }
            .old-price {
                width: 100%;
                text-align: right;
                margin-top: 6px;
                margin-left: 0;
            }
            &__buttons {
                margin-bottom: 22px;
                .btn {
                    width: 100%;
                    margin-bottom: 18px;
                }
            }
        }
        &__block {
            text-align: center;
            margin-bottom: 16px;
            &__icon {
                margin: 0 auto 16px;
            }
            &__list {
                text-align: left;
                width: fit-content;
                margin: 0 auto;
            }
            .social-likes {
                width: fit-content;
                margin: 0 auto;
            }
        }
    }
}
.plusminus {
    &__caption {
        font-size: 12px;
        color: $dark;
        margin-right: 20px;
    }
    input {
        color: #000000;
        background: transparent;
        border-radius: 0;
        border: 1px solid rgb(210, 210, 210);
        width: 28px;
        height: 24px;
        line-height: 24px;
        text-align: right;
        font-size: 18px;
        user-select: none;
    }
    span {
        cursor: pointer;
        display: block;
        width: 20px;
        height: 24px;
        line-height: 24px;
        flex-shrink: 0;
        color: $dark;
        text-align: center;
        font-size: 18px;
        user-select: none;
        &:hover {
            color: $blue;
        }
    }
}
.product-description {
    background: #fff;
    margin-bottom: 160px;
    padding: 0 106px 25px;
    .tab-pane {
        padding: 70px 0;
        h2, h3 {
            font-size: 22px;
            color: $dark;
            margin-bottom: 28px;
        }
        p {
            font-size: 18px;
            margin-bottom: 28px;
        }
        ul {
            padding-left: 0;
            list-style: none;
            > li {
                padding-left: 29px;
                position: relative;
                margin-bottom: 18px;
                &:before {
                    display: block;
                    content: "";
                    width: 9px;
                    height: 9px;
                    background: $blue;
                    border-radius: 50%;
                    position: absolute;
                    top: 9px;
                    left: 0;
                }
            }
        }
        img {
            display: block;
            max-width: 100%;
            height: auto;
            margin: 60px auto;
        }
    }
    &__icons {
        margin: 60px -5px 80px;
        >img {
            margin: 0 4px 12px !important;
            max-height: 60px;
        }
    }
    .features {
        &__caption {
            color: $dark;
            width: 100%;
            margin-bottom: 46px;
            &__title {
                font-size: 16px !important;
                text-decoration: underline;
                width: 40%;
            }
            &__item {
                width: 20%;
                padding: 0 30px;
            }
            .product {
                font-size: 14px;
                font-weight: bold;
            }
        }
        &__item {
            margin-bottom: 8px;
            &__header {
                height: 42px;
                background: #4a616a;
                padding: 0 26px;
                cursor: pointer;
                .icon {
                    width: 28px;
                    &:before {
                        @include triangle;
                        border-width: 9px 0 9px 14px;
                        border-color: transparent transparent transparent #fff;
                        left: 0;
                        top: -9px;
                    }
                }
                .title {
                    font-size: 16px;
                    color: #fff;
                    margin-bottom: 0;
                }
                &:hover,
                &.-is-open {
                    background: $blue;
                }
                &.-is-open {
                    .icon {
                        &:before {
                            transform: rotate(90deg);
                        }
                    }
                }
            }
        }
        &__table {
            margin: 12px 0;
            width: 100%;
            td {
                font-size: 14px;
                padding: 9px 30px;
                border: none;
                color: $dark;
                width: 20%;
                &.caption {
                    width: 40%;
                }
            }
            tr {
                &:nth-child(odd) {
                    background: rgba(80, 115, 128, 0.1);
                }
            }

            .circle {
                display: inline-block;
                width: 9px;
                height: 9px;
                border-radius: 50%;
                background: $blue;
                margin-right: 14px;
            }
        }
    }
    .downloads {
        min-height: 300px;
        font-size: 18px;
        &__row {
            margin: 0 -76px;
            padding: 0 76px;
            &.item {
                height: 64px;
                border-top: 1px solid rgb(210, 210, 210);
                color: $dark;
            }
            &.title {
                color: $broun;
                height: 30px;
            }
            .btn {
                width: 110px;
            }
        }
    }
    &__bottom {
        margin: 0 -76px;
        padding: 14px 76px;
        border-top: 1px solid rgb(210, 210, 210);
        border-bottom: 1px solid rgb(210, 210, 210);
        .price__wrapper {
            margin-right: 38px;
        }
    }
    @include media-breakpoint-down (sm) {
        .nav-tabs__custom {
            border: none;
            .nav-item {
                flex-basis: 50%;
            }
            .nav-link {
                border-radius: 10px;
            }
        }
        .table {
            td {
                width: 50% !important;
                padding-top: 16px;
                padding-bottom: 16px;
                &:first-child {
                    padding-left: 0;
                    padding-right: 8px;
                }
                &:last-child {
                    padding-left: 8px;
                    padding-right: 0;
                }
            }
            tr:last-child{
                border-bottom: none;
            }
        }
    }
    @include media-breakpoint-down (xs) {
        margin-top: 50px;
        .table {
            &__wrapper {
                margin: 0 -15px;
            }
            td {
                font-size: 12px;
            }
        }
    }
}

/* .accordion {
    margin-bottom: 48px;
    &__link {
        padding: 9px 26px 11px;
        font-size: 20px;
        border-radius: 20px 20px 0px 0px;
        color: #364862;
        display: inline-block;
    }
    &__card {
        padding: 9px 0 ;
        border: none;
        border-bottom: 1px solid #CCD5E1 !important;
        &.-is-open {
            .accordion__card__header {
                border-bottom: 1px solid #CCD5E1;
            }
            .accordion__link {
                background: $gradient;
                color: #fff !important;
            }
        }
        .show {
            font-size: 16px;
            color: #364862;
            padding-top: 27px;
            margin-bottom: 44px;
        }
    }

} */

.additionals-block {
    &s {
        padding-top: 56px;
        padding-bottom: 52px;
    }
    margin-bottom: 38px;
    .main-title {
        font-weight: 600;
        margin-bottom: 60px;
    }
    &__slider {
        margin-left: -5px;
        margin-right: -25px;
        &__item {
            padding-right: 25px;
            padding-left: 5px;
        }
        @include media-breakpoint-down(xs) {
            margin-bottom: 90px;

        }
    }
}
