body {
    font-size: 16px;
    font-family: 'Avenir Next Cyr', sans-serif;
    color: $grey;
    line-height: 1.2;
    position: relative;
    background: #fff;
}
::-webkit-scrollbar {
    width: 3px;
}
::-webkit-scrollbar-track {
    background: $main-light;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: $red;
    border-radius: 10px;
}


:active, :hover, :focus {
    outline: 0 !important;
    outline-offset: 0 !important;
    box-shadow: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin: 0;
}

a {
    color: #000;
    text-decoration: none;
    &:hover {
        color: $blue;
        text-decoration: none;
    }
}
b, strong {
    font-weight: bold !important;
}
.container {
    @media (min-width: 1812px) {
        max-width: 1812px;
    }
    @media (min-width: 1200px) and (max-width: 1811px) {
        max-width: 100%;
    }
}

.btn {
    padding: 3px 11px;
    max-width: 100%;
    font-size: 15px;
    color: #000;
    text-transform: uppercase;
    background: #fff;
    border: 1px solid #000;
    border-radius: 0;
    box-shadow: none !important;
    outline: none !important;
    &:hover {
        color: #fff;
        background: $blue;
        border-color: $blue;
    }
}
.btn-triangle {
    padding-right: 6px !important;
    height: 30px;
    position: relative;
    transition: all 0.3s;
    &:after,
    &:before {
        @include triangle;
        transition: all 0.3s;
    }
    &:before {
        top: -1px;
        border-width: 30px 13px 0 0;
        border-color: #000 transparent transparent transparent;
        right: -13px;
    }
    &:after {
        border-width: 28px 12px 0 0;
        border-color: #fff transparent transparent transparent;
        right: -12px;
    }
    &:hover {
        &:after,
        &:before {
            border-color: $blue transparent transparent transparent;
        }
    }
}
.btn-broun {
    border-color: #929292;
    color: #666666;
    &:hover {
        background: $broun;
        border-color: $broun;
    }
    &.btn-triangle {
        &:before {
            border-color: #929292 transparent transparent transparent;
        }
        &:hover {
            &:after,
            &:before {
                border-color: $broun transparent transparent transparent;
            }
        }
    }
}
.form-control {
    font-size: 18px;
    border-radius: 0;
    outline: 0 !important;
    background: transparent;
    box-shadow: none !important;
    border: 1px solid rgb(125, 125, 125) !important;
    padding-top: 4px;
    padding-bottom: 4px;
    height: auto;
    max-width: 100%;
    position: relative;
    &::placeholder {
        color: #afafaf;
    }
}
.form-label {
    color: $dark;
    font-size: 18px;
    margin-bottom: 2px;
}
.form-group {
    margin-bottom: 30px;
    label.error {
        margin-top: 3px;
        position: absolute;
        font-size: 12px;
        color: #F44336;
        width: 100%;
        padding-right: 25px;
        &:after {
            display: block;
            content: '';
            width: 18px;
            height: 15px;
            background: url(../images/icons/error-icon.png);
            position: absolute;
            top: -1px;
            right: 3px;
        }
    }
}
.no-gutters-custom {
    margin-right: -10px;
    margin-left: -10px;
    > .col,
    > [class*="col-"] {
      padding-right: 10px;
      padding-left: 10px;
    }
}
.nav-tabs__custom {
    background: transparent;
    border-radius: 0;
    border: none;
    z-index: 2;
    position: relative;
    .nav-item {
        margin: 0;
        height: 60px;
        line-height: 60px;
    }
    .nav-link {
        width: 100%;
        border-radius: 0;
        border: none;
        font-size: 18px;
        text-align: center;
        text-transform: uppercase;
        color: $dark;
        padding: 0;
        max-height: 100%;
        position: relative;
        &.active {
            background: $broun;
            color: #fff !important;
            &:after {
                @include triangle;
                border-width: 60px 25px 0 0;
                border-color: $broun transparent transparent transparent;
                right: -25px;
            }
        }
        &:hover {
            color: $broun;
        }
    }
}
.image__wraper {
    height: 106px;
    width: 106px;
    background: #FFFFFF;
    box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.05);
    border-radius: 30px;
    margin-bottom: 49px;
}
.slick-arrow {
    width: 31px;
    height: 54px;
    padding: 0;
    border: none;
    background: url(../images/icons/slick-arrow.png);
    background-repeat: no-repeat;
    background-position-y: -5px;
    position: absolute;
    top: 50%;
    margin-top: -15px;
    z-index: 5;
    &.slick-prev {
        background-position-x: -128px;
        left: 26px;
        &:hover {
            background-position-x: -5px;
        }
    }
    &.slick-next {
        background-position-x: -87px;
        right: 26px;
        &:hover {
            background-position-x: -46px;
        }
    }
    @include media-breakpoint-down(xs) {
        width: 16px;
        height: 28px;
        &.slick-prev {
            background: url(../images/icons/arrow-prev-sm.png) top center no-repeat !important;
            left: 5px;
        }
        &.slick-next {
            background: url(../images/icons/arrow-next-sm.png) top center no-repeat !important;
            right: 5px;
        }
    }
}
.nav-arrow {
    width: 25px;
    height: 25px;
    padding: 0;
    border: 0;
    border-radius: 50%;
    background: $red;
    margin: 0 8px;
    svg {
        width: 7px;
        height: auto;
    }
}
.nav-number {
    display: block;
    margin: 0 12px;
    color: $grey;
    &.active {
        color: $dark;
        font-weight: 600;
    }
}
.blog__slider__navigate {
    display: none;
}
@include media-breakpoint-down(xs) {
    .blog__slider .slick-arrow {
        display: none !important;
    }
    .blog__slider__navigate {
        margin-top: 5px;
        display: flex;
    }
}
.slick-dots {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    margin-top: -37px;
    li {
       margin: 0 10px;
        button {
            font-size: 0;
            line-height: 0;
            display: block;
            padding: 0;
            width: 13px;
            height: 13px;
            cursor: pointer;
            color: transparent;
            border: 1px solid #fff;;
            outline: none;
            border-radius: 50%;
            background-color: rgb(51, 51, 51);
            &:hover {
                background: $blue;
            }
        }
        &.slick-active button {
            background: $blue;
        }
    }
}
.checkbox {
    display: block;
    position: relative;
    cursor: pointer;
    user-select: none;
    margin-bottom: 0;
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
        &:checked {
            &~.checkbox__text {
                &:after {
                    display: block;
                }

            }
        }
    }
    &__text {
        display: block;
        padding-left: 24px;
        color: $dark;
        margin-bottom: 12px;
        /* внешний контур чекбокса */
        &:before {
            content: "";
            position: absolute;
            top: 2px;
            left: 0;
            height: 14px;
            width: 14px;
            border-radius: 50%;
            background: transparent;
            border: 1px solid rgb(83, 83, 83);
        }
        &:after {
            content: '';
            position: absolute;
            display: none;
            width: 8px;
            height: 8px;
            background: $blue;
            border-radius: 50%;
            top: 5px;
            left: 3px;
        }
        .square & {
            &:before {
                border-radius: 0;
                border-color: rgb(125, 125, 125);
            }
            &:after {
                content: '\2713';
                color: $broun;
                background: transparent;
                top: 2px;
                left: 2px;
                height: 14px;
                width: 14px;
                font-size: 12px;
                font-weight: bold;
            }
        }
    }

}
.icon-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.fw-medium {
    font-weight: $fw-medium !important;
}
.fw-light {
    font-weight: 300;
}
.root {
    overflow: hidden;
}

.mh-unset {
    min-height: unset !important;
}
.pl-80 {
    padding-left: 80px !important;
}
.blue-light {
    color: $blue;
}
.w-fit {
    width: fit-content;
}
.color {
    &-broun {
        color: $broun !important;
    }
    &-black {
        color: $dark !important;
    }
    &-white {
        color: #fff !important;
    }
    &-red {
        color: $red !important;
    }
}
.bg-light {
    background: $bg-light !important;
}
/*==================================================================================================================
                                        header
==================================================================================================================*/
.header {
    &-top {
        padding: 17px 0;
        background: #eeeeee;
        .logo {
            margin-right: 30px;
        }
        &__menu {
            font-size: 12px;
            margin-right: 18px;
            &__item {
                margin-right: 46px;
                .fa-map-marker-alt {
                    color: $broun;
                }
                &:last-child {
                    margin-right: 0;
                }
            }
        }
        &__contacts {
            color: #000;
            margin-left: 32px;
            &:last-child {
                margin-right: 0;
            }
            >p {
                margin: 0;
                padding: 4px 0;
                width: fit-content;
            }
        }
    }
    background: $bg-dark;
    &__menu {
        &__item {
            margin-right: 38px;
            &:last-child {
                margin-right: 0;
            }
        }
        &__link {
            padding: 18px;
            display: inline-block;
            font-size: 12px;
            color: #fff;
            &:hover,
            &.current,
            .show & {
                color: #382e29;
                background: #fff;
            }
            .white {
                background: #fff;
                color: #382e29;
                position: relative;
                &:after {
                    @include triangle;
                    border-width: 15px 7px 0 0;
                    border-color: #fff transparent transparent transparent;
                    right: -7px;
                }
            }
            &:hover {
                .white {
                    background: $bg-light;
                    &:after {
                        border-color: $bg-light transparent transparent transparent;
                    }
                }
            }
        }
        .dropdown-menu {
            background: #FFFFFF;
            box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.21);
            border: none;
            border-radius: 0;
            padding-top: 14px;
            &__link {
                padding: 9px 18px;
                font-size: 12px;
                color: #382e29;
                width: 100%;
                white-space: nowrap;
                display: inline-block;
                &:hover {
                    color: #fff;
                    background: $broun;
                }
            }
        }
    }
    @media (max-width: 1290px) {
        &-top {
            &__contacts {
                font-size: 12px;
            }
            &__menu__item {
                margin-right: 26px;
            }
        }
        &__menu__item {
            margin-right: 0;
        }
    }
    @include media-breakpoint-down(lg) {
        .navbar-collapse {
            width: calc(100% + 240px);
            margin: 0 -120px;
        }
        &-top {
            background: #fff;
            padding: 12px 0;
            &__menu {
                padding: 9px 120px;
                background: #eeeeee;
                &__item {
                    margin-right: 0;
                    text-align: right;
                }
                &__link {
                    display: inline-block;
                    padding: 6px 0;
                }
            }
        }
        background: #3e3e3e;
        &__menu {
            padding: 9px 120px;
            border-bottom: 1px solid $broun;
            &__item {
                text-align: right;
                width: 100%;
            }
            &__link {
                padding: 6px 0;
                color: #fff !important;
                background: transparent !important;
                &:hover,
                &.current{
                    color: $broun !important;
                }
            }
            .dropdown-menu {
                position: relative;
                background: transparent !important;
                box-shadow: none;
                padding-top: 0;
                &__link {
                    padding: 6px 0;
                    color: #fff;
                    width: 100%;
                    white-space: nowrap;
                    display: inline-block;
                    &:hover {
                        color: $broun;
                    }
                }
            }
        }
    }
}
.cart-block {
    margin-left: 74px;
    .cart-circle {
        font-size: 12px;
        color: #fff;
        text-decoration: none;
        height: 40px;
        line-height: 40px;
        padding-left: 26px;
        transition: .3s;
        .items {
            font-size: 10px;
            color: #fff;
            width: 17px;
            height: 17px;
            background-color: #c17d11;
            border: 1px solid #fff;
            left: -7px;
            top: 2px;
            transition: .3s;
        }
        .cart-icon {
            top: -4px;
            left: 0;
            transition: .3s;
            svg{
                width: 24px;
            }
        }
    }
    &:hover, &:focus {
        .cart-circle {
            color: $broun;
            .cart-icon svg path {
                fill: $broun;
            }
        }
    }
    @include media-breakpoint-down(lg) {
        margin-left: 18px;
    }
}
.mobile-menu {
    &__item {
        font-size: 20px;
        margin-left: 18px;
        color: #fff;
        &:hover,
        &:focus {
            color: $broun;
        }
    }
    .dropdown-menu {
        border: none;
        border-radius: 0;
        background: #2c2c2c;
        padding: 0;
        margin-top: 8px;
        left: auto;
        right: -79px;
        &__link {
            display: inline-block;
            color: #fff;
            font-size: 15px;
            white-space: nowrap;
            padding: 6px 20px;
            .caption {
                display: inline-block;
                width: 74px;
            }
        }
    }
}
/*==================================================================================================================
                                        all-pages
==================================================================================================================*/
.page-title {
    height: 300px;
    background: url(../images/project/page-title.jpg) top center no-repeat;
    background-size: cover;
    &__title {
        color: #fff;
        font-size: 50px;
    }
    @include media-breakpoint-down(sm) {
        height: 250px;
        &__title {
            font-size: 38px;
        }
    }
    @include media-breakpoint-down(xs) {
        height: 180px;
        &__title {
            font-size: 28px;
        }
    }
}
.breadcrumb {
    background: transparent;
    padding: 36px 0 0;
    font-size: 12px;
    &-item {
        font-size: 14px;

        a {
            color: #382e29;
            &:hover {
               color: #000;
            }
        }
        &.active {
            font-weight: bold;
            color: #382e29;
        }
    }
    &-item + .breadcrumb-item {
        padding-left: 5px;
        &:before {
            padding-right: 5px;
            color: #382e29;
        }
    }
    &__line {
        height: 64px;
        background: linear-gradient(to right, #fff 0%, #fff 50%, $broun 50%, $broun 100%);
        margin: 18px 0;
        &:before {
            @include triangle;
            right: 50%;
            border-width: 0 0 64px 41px;
            border-color: transparent transparent $broun transparent;
        }
        &.blue {
            background: linear-gradient(to right, #fff 0%, #fff 50%, $blue 50%, $blue 100%);
            &:before {
                border-color: transparent transparent $blue transparent;
            }
        }
        .page-title__small {
            width: 50%;
            padding-left: 50px;
            color: #fff;
            font-size: 24px;
        }
        .category-page &,
        .product-page &,
        .cart-page &,
        .contact-page &,
        .article-page & {
            background: transparent;
            &__in {
                background: linear-gradient(to right, #fff 0%, #fff 50%, $broun 50%, $broun 100%);
                padding: 0 16px;
                &:before {
                    @include triangle;
                    right: 50%;
                    border-width: 0 0 64px 41px;
                    border-color: transparent transparent $broun transparent;
                }
            }
        }
    }
    &__wrapper {
        width: 50%;
        padding-right: 26px;
    }
    @include media-breakpoint-down(lg) {
        padding: 14px !important;
        background: #fff;
        &__wrapper {
            width: 100%;
            padding-right:0 ;
        }
        &__line {
            height: auto;
            background: transparent !important;
            &:before {
               display: none;
            }
            &__in {
                flex-wrap: wrap;
            }
            .page-title__small {
                width: 100%;
                height: 56px;
                background: linear-gradient(to right, #fff 0%, #fff 10%, $broun 10%, $broun 100%);
                display: flex;
                align-items: center;
                padding-left: 12%;
                margin-top: 18px;
                position: relative;
                &:before {
                    @include triangle;
                    right: 90%;
                    border-width: 0 0 56px 20px;
                    border-color: transparent transparent $broun transparent;
                }
            }
            .category-page &,
            .product-page &,
            .cart-page &,
            .contact-page &,
            .article-page & {
                &__in {
                    background: transparent;
                    padding: 0;
                    &:before {
                        display: none;
                    }
                }
            }
        }
    }
    @include media-breakpoint-down(sm) {
        &__line .page-title__small {
            font-size: 18px;
        }
    }
}
.pagination {
    justify-content: center;
    &__wrapper {
        width: fit-content;
        margin: 0 auto;
        display: flex;
        align-items: baseline;
        >a {
            margin-left: 20px;
        }
    }
    .page-link {
        padding: 0;
        height: 24px;
        line-height: 24px;
        border: none !important;
        background: transparent !important;
        outline: none !important;
        box-shadow: none !important;
        margin: 0;
        font-size: 16px;
        color: #000;
        &:hover {
            color: $blue;
        }
    }
    .page-item {
        margin: 0 5px;
        &.active {
            .page-link {
                color: $blue;
            }
        }
    }
}
.section-title {
    margin-bottom: 24px;
    &__icon {
        margin-right: 30px;
        height: 86px;
    }
    &__content {
        min-height: 86px;
    }
    &__title {
        font-size: 18px;
        font-weight: bold;
        color: $dark;
    }
    &__subtitle {
        font-size: 18px;
        color: $dark;

    }
    @include media-breakpoint-down(sm) {
        flex-wrap: wrap;
        &__icon {
            margin-right: 0;
            width: 100%;
            margin-bottom: 20px;
        }
        &__title {
            margin-bottom: 20px;
        }
        &__subtitle {
            font-size: 16px;
        }

    }
}
/*==================================================================================================================
                                            footer
==================================================================================================================*/
.footer {
    background: url(../images/project/footer-bg.jpg) top center no-repeat;
    background-size: cover;
    color: #fff;
    &__top {
        padding: 15px 0 30px;
        background: #fff;
    }
    &__middle {
        padding: 50px 0;
        .logo {
            margin-bottom: 41px;
        }
    }
    &__bottom {
        background: #1d160c;
        padding: 32px 0;
        font-size: 14px;
        color: #fff;
        a {
            color: $broun;
        }
    }
    &__menu {
        margin-bottom: 36px;
        &__title {
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 11px;
        }
        &__item {
            margin-bottom: 3px;
            max-width: 200px;
        }
        &__link {
            font-size: 14px;
            color: #fff;
            &:hover {
                color: $broun;
            }
        }
    }
    .copyright {
        font-size: 14px;
    }
    @include media-breakpoint-down(lg) {
        &__middle {
            .col-custom {
                flex: 0 0 33.3333333333%;
                max-width: 33.3333333333%;
                padding: 0 15px;
            }
        }
    }
    @include media-breakpoint-down(xs) {
        &__top {
            padding: 30px 0;
        }
        &__middle {
            .col-custom {
                flex: 0 0 100%;
                max-width: 100%;
                padding: 0 15px;
            }
        }
    }
}
.slide-to-top {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #507380;
    padding-bottom: 4px;
    .arrow {
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 9px 14px 9px;
        border-color: transparent transparent #fff transparent;
    }
    @include media-breakpoint-down(xs) {
        position: absolute;
        top: -20px;
        right: 0;
    }
}
.close {
    cursor: pointer;
}
/*==================================================================================================================
                                       404
==================================================================================================================*/
.error404 {
    height: calc(100vh - 148px);
    background: $bg-light;
    &:before {
        @include decor-2;
        top: -86px;
        left: -300px;
    }
    .container {
        position: relative;
        z-index: 2;
    }

    &__in {
        .title {
            font-weight: 300;
            font-size: 54px;
            color: $dark;
            margin-bottom: 27px;
            >strong {
                font-weight: bold;
                color: $red;
            }
        }
        .btn {
            width: 248px;
            padding-left: 0;
            padding-right: 0;
        }
        .btn-light {
            margin-right: 33px;
        }
    }
    @include media-breakpoint-down(md) {
        height: auto;
        &__in {
            padding: 50px 0;
            margin: 0 auto;
            .title {
                text-align: center;
            }
        }
        &__image {
            max-width: 400px;
            margin-top: 40px;
        }
    }
    @include media-breakpoint-down(sm) {
        &:before {
            display: none;
        }
        .btn-light {
            margin-right: 0;
        }
        .btn {
            width: 100%;
        }
    }
    @include media-breakpoint-down(xs) {
        &__image {
            max-width: 290px;
        }
    }
}
.cursor-pointer {
    cursor: pointer;
}
