/*==================================================================================================================
                                        success page
==================================================================================================================*/
.success {
    &-page {
        background: $bg-light;
        &:before {
            @include decor-2;
            top: -86px;
            left: -300px;
        }
        .container {
            position: relative;
            z-index: 2;
        }
        .main-title {
            font-weight: 600;
            margin-bottom: 30px;
        }
    }
    .pt-95 {
        padding-top: 95px;
    }
    &__info {
        margin-top: 25px;
        margin-bottom: 38px;
        .icon {
            width: 61px;
            height: 61px;
            background: #fff;
            border-radius: 50%;
            box-shadow: 10px 5px 30px rgba(0, 0, 0, 0.05);
            margin-right: 31px;
        }
        &__text {
            p {
                line-height: 1.62;
                margin-bottom: 0;
            }

        }
    }
    &__confirm {
        margin-top: 50px;
        .icon {
            width: 106px;
            height: 106px;
            background: #fff;
            border-radius: 30px;
            box-shadow: 10px 5px 30px rgba(0, 0, 0, 0.05);
            margin-right: 41px;
        }
        .title {
            color: $dark;
            margin-bottom: 20px;
            .total {
                font-weight: 300;
                font-size: 42px;
                margin-left: 21px;
            }
        }
        .btn {
            width: 248px;
            margin-left: 147px;
            margin-top: 30px;
            margin-bottom: 30px;
        }
    }
    @include media-breakpoint-down(lg) {
        .pt-95 {
            padding-top: 0;
        }
    }
    @include media-breakpoint-down(md) {
        &-page {
            .main-title {
                margin-bottom: 40px;
            }
            &__image {
                max-width: 300px;
            }
        }
    }
    @include media-breakpoint-down(sm) {
        &-page:before {
            display: none;
        }
    }
    @include media-breakpoint-down(xs) {
        &-page {
            padding-top: 44px;
            padding-bottom: 50px;
            .main-title {
                margin-bottom: 30px;
            }
        }
        &__info {
            flex-wrap: wrap;
            .icon {
                margin: 0 auto 16px;
            }
            &__text {
                width: 100%;
                text-align: center;
            }
        }
        &__confirm {
            .icon {
                margin: 0 auto 26px;
            }
            .text-wrapper {
                width: 100%;
                text-align: center;
            }
            .btn {
                width: 100%;
                margin-left: 0;
                margin-top: 30px;
            }
        }
    }
}
/*==================================================================================================================
                                        thankyou page
==================================================================================================================*/
.thankyou {
    &__btn {
        margin-left: 92px;
        width: 248px;
        margin-bottom: 30px;
        @include media-breakpoint-down(xs) {
            width: 100%;
            margin-left: 0;
        }
    }
}

