/* colors */
$dark: #000;
$broun: #806c50;
$grey: #585858;
$blue: #506b80;
$red: rgb(135, 35, 47);


$main-light: #B9B9B9;
$red-light: #EE495C;


$bg-light: #e5e5e5;
$bg-dark: rgb(51, 51, 51);
$gradient: linear-gradient(262.62deg, #FD6311 6.27%, #F95005 95.03%);

/* font-weight */
$fw-medium: 500;
$fw-light: 300;


/* fonts */
@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('/fonts/AvenirNextCyr-Bold.eot');
    src: url('/fonts/AvenirNextCyr-Bold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/AvenirNextCyr-Bold.woff') format('woff'),
    url('/fonts/AvenirNextCyr-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('/fonts/AvenirNextCyr-Regular.eot');
    src: url('/fonts/AvenirNextCyr-Regular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/AvenirNextCyr-Regular.woff') format('woff'),
    url('/fonts/AvenirNextCyr-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@mixin triangle {
    display: block;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    top: 0;
}

/* typografy */
@mixin h1 {
    font-weight: bold;
    font-size: 54px;
}
@mixin h2 {
    font-weight: 600;
    font-size: 42px;
}
@mixin h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}
@mixin desc {
    font-size: 12px;
    line-height: 16px;
}
@mixin big-btn {
    font-weight: bold;
    font-size: 14px;
}
@mixin small-btn {
    font-weight: bold;
    font-size: 12px;
}

/* bg decor elements */
@mixin decor-1 {
    display: block;
    content: '';
    width: 224px;
    height: 242px;
    background: url(../images/project/decor-1.png) top center no-repeat;
    position: absolute;
}
@mixin decor-2 {
    display: block;
    content: '';
    width: 587px;
    height: 211px;
    background: url(../images/project/decor-2.png) top center no-repeat;
    position: absolute;
}
@mixin decor-3 {
    display: block;
    content: '';
    width: 197px;
    height: 229px;
    background: url(../images/project/decor-3.png) top center no-repeat;
    position: absolute;
}
@mixin arrow-more {
    display: block;
    content: "";
    width: 24px;
    height: 8px;
    background: url(../images/icons/arrow-review.png);
    position: absolute;
    top: 6px;
    right: -40px;
}








